$defaultColor:  #274C5B;
$titleColor:    #7EB693;
$btnsColor:     #EFD372;
$bgColor:       #F9F8F8;
$white:         #FFFFFF;

$font-OpenSans: 'OpenSans',
sans-serif;
$font-Roboto: 'Roboto',
sans-serif;
$font-Yellowtail: 'Yellowtail',
cursive;

$xl:  1200;
$lg:  992;
$md:  768;
$sm:  576;
$xs:  375;

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}